/* Enter your custom styles here */
.parentPage {
	background-image: linear-gradient(to bottom right, #91C8F6, #5066b5c9)
}

.mainHBox {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    height: 85%;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.genInfoVBox, .contactVBox {
	width: 50%;
}

.genInfoVBox {
	background-color: white;
	border-radius: 5px 0px 0px 5px;
}

.contactVBox {
	background-color: #4145ce;
	border-radius: 0px 5px 5px 0px;
}

.genInfoTitle, .contactTitle {
	margin-top: 1.5em;
    margin-left: 2em;
	font-family: "Lucida Sans Unicode", Courier, monospace;
}

.genInfoTitle {
	color: #4145ce;
}

.contactTitle {
	color: white;
}

.genInfoContentVBox, .contactContentVBox {
	margin-left: 2.5em;
    width: 80%;
}

.lNameInput {
	margin-left: 0.35em !important;
}

.stateCB, .phNumber {
	margin-left: -5em !important;
	max-width: none !important;
}

.tncLink {
	padding : 4px 4px 0 4px;
}
